{% extends 'layout.html' %}

{% block title %}Routes{% endblock %}

{% block body %}

  <h1>Route List</h1>

  <h2>Forms</h2>

  <ul class="accordion" data-accordion>
    {% for form in forms %}
      <li class="accordion-item" data-accordion-item>
	<a href="#" class="accordion-title">{{form.name}}</a>

	<div class="accordion-content" data-tab-content>
	  <ul>
	    {% for route in form.route_set.all %}
	      <li><a href="{% url 'routes:update' pk=route.pk %}?form={{form.id}}">
		Starts with:
		{% if route.destination_set.first.user %}
		  <span class="badge">{{route.destination_set.first.user.username}}</span>
		{% else %}
		  <span class="badge">{{route.destination_set.first.group.name}}</span>
		{% endif %}
		&nbsp;&nbsp; Created: 
		<span class="badge">{{route.created_at|date:"m/d/Y f"}}</span>
	      </a></li>
	     {% endfor %}
	  </ul>

	  <a href="{% url 'routes:create' %}?form={{form.id}}" class="button small">Add Route</a>
	</div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
