{% extends 'layout.html' %}

{% block title %}{% if route.instance %}Edit Route{% else %}New Route{% endif %}{% endblock %}

{% block body %}
  
  <h1>{% if not route.instance.pk %}Create Route{% else %}Edit Route{% endif %}</h1>
  <br />
  
      <form method="post" id="route-form">
	{{ route.as_p }}
	{% csrf_token %}

	<div class="grid-container">
	  <div class="card route-dest-card">
	    <div class="card-divider">
	      Start
	    </div>
	    <div class="card-section">
	      <label for="startUser">User</label>
	      <v-autocomplete :input-attrs="{id: 'startUser'}"
			      :items="userLabels"
			      v-model="startUsername"
			      :get-label="getUsername"
			      :component-item='getAutoComponent(startUsername)' />

	      <label for="startGroup">Group</label>
	      <v-autocomplete :input-attrs="{id: 'startGroup'}"
			      :items="groupLabels"
			      v-model="startGroupName"
			      :get-label="getGroupName"
			      :component-item='getAutoComponent(startGroupName)' />
	    </div>
	  </div>

	  <div class="card route-dest-card">
	    <div class="card-divider">
	      Destination 1
	    </div>
	    <div class="card-section">
	      <label for="dest1User">User</label>
	      <v-autocomplete :input-attrs="{id: 'dest1User'}"
			      :items="userLabels"
			      v-model="dest1Username"
			      :get-label="getUsername"
			      :component-item='getAutoComponent(dest1Username)' />

	      <label for="dest1Group">Group</label>
	      <v-autocomplete :input-attrs="{id: 'dest1Group'}"
			      :items="groupLabels"
			      v-model="dest1GroupName"
			      :get-label="getGroupName"
			      :component-item='getAutoComponent(dest1GroupName)' />
	    </div>
	  </div>

	  <div class="card route-dest-card">
	    <div class="card-divider">
	      Archive
	    </div>
	    <div class="card-section">
	     Final Destination
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="columns large-4">
	    <button class="button small" type="button">Add Destination</button>
	  </div>
	  
	  <div class="columns large-4">
	    <input class="button" type="submit" value="Save" />
	    {% if route.instance.pk %}
	      <a href="{% url 'routes:detail' pk=route.instance.pk %}" class="button secondary">Cancel</a>
	      <a href="{% url 'routes:delete' pk=route.instance.pk %}" class="button tiny alert float-right">Delete</a>
	    {% endif %}
	  </div>
	</div>
      </form>

{% endblock %}

{% block vue %}
  {% include 'route_vue.html' %}
{% endblock %}
