{% extends 'layout.html' %}

{% block title %}{% if request.path == '/inbox/archive' %}Archive{% else %}Inbox{% endif %}{% endblock %}

{% block body %}

  {% if request.path == '/inbox/archive' %}
    {% include 'inputs/archive_list.html' with data=input.data %}
  {% else %}
    <h1>Inbox</h1>

    
    {%  if 'search' in request.GET %}
      <p>
	{% if not inputs.num_rows %}
	  No matches found for <em>{{request.GET.search}}</em>.
	{% else %}
	  {{inputs.num_rows}} matches found for <em>{{request.GET.search}}</em>.
	  {% endif %}
      </p>
    {% endif %}
    
    <div class="row">
      {% for input in inputs %}
	<div class="columns large-4 small-12">
	  <div class="card" style="width: 300px;">
	    <div class="card-divider">
	      <h4><a href="{% url 'inbox:detail' pk=input.pk %}">{{input.form.name}}</a></h4>
	    </div>

	    <div class="card-section">
	      {% if input.form.image %}
		<a href="{% url 'inbox:detail' pk=input.pk %}">
		  <img src="{{input.form.image.url}}" alt="{{input.form.name}}" class="form-image" />
		</a>
		<br/><br/>
		<small><strong>Created at:</strong> {{input.created_at|date:"m/d/Y f"}}</small>
		<br/>
		<small>
		  <strong>Route Holder:</strong>
		  {% if input.route_holder %}{{input.route_holder.username}}{% else %}Me{% endif %}
		</small>
	      {% endif %}
	    </div>
	  </div>
	</div>
      {% endfor %}
    </div>
  {% endif %}


  {% if not inputs %}
    <p>Nothing in the Inbox at this time.</p>
  {% endif %}

{% endblock %}
