{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column small-12 large-10">
      <h1>{{input.form.name}}</h1>

    </div>
  </div>

  <div class="row">
    <div class="column large-8 small-12">
      
      <div class="form-content">
	
	<form method="post" action="{% url 'inbox:create' %}" id="input-form" name="{{input.form.id}}">
	  {% autoescape off %}
	    {{input.form.content}}
	  {% endautoescape %}

	  <br/><hr/>

	  <h4>Routes</h4>
	  
	  <ul class="no-bullet">
	    {% for route in input.form.route_set.all %}
	      <li>
		<strong>Me</strong> &#x21e8; 
		{% for dest in route.destination_set.all %}
		  {% if dest.user %}
		    {{dest.user.username}}
		  {% else %}
		    <label class="route-group-select-label">{{dest.group.name}}</label>
		    <select class="route-group-select" id="{{dest.id}}_{{dest.step}}" name="{{dest.step}}_{{dest.step}}_{{dest.group.id}}">
		      <option value=""></option>
		      {% for user in dest.group.user_set.all %}
			<option value="{{user.id}}">{{user.username}}</option>
		      {% endfor %}
		    </select>
		  {% endif %}
		  &#x21e8;
		{% endfor %}
		Archive
		&nbsp;&nbsp;
		<button type="button" class="button default tiny">Send</button>
	      </li>
	    {% endfor %}
	  </ul>

	  <br/><hr/>
	  <button type="button" class="button success" @click="submitForm">Update</button>
	  <a href="{% url 'inbox:delete' pk=input.pk %}" class="button tiny alert float-right">Delete</a>
	</form>
      </div>
      
    </div>
  </div>

{% endblock %}

{% block vue %}
  {% include 'form_vue.html' with data=input.data %}
{% endblock %}
