{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column small-12 large-10">
      <h1>{{input.form.name}}</h1>

    </div>
  </div>

  <div class="row">
    <div class="column large-8 small-12">
      
      <div class="form-content">
	
	<form method="post" action="{% url 'inbox:create' %}" id="input-form" name="{{input.form.id}}">
	  {% autoescape off %}
	    {{input.form.content}}
	  {% endautoescape %}

	  <br/><hr/>
	  <button type="button" class="button success" @click="submitForm">Update</button>
	  <button type="button" class="button default">Route</button>
	  <a href="{% url 'inbox:delete' pk=input.pk %}" class="button tiny alert float-right">Delete</a>
	</form>
      </div>
      
    </div>
  </div>

  <script>
   var token = "{{user.auth_token.key}}";
   var userId = "{{user.id}}";
  </script>
  

{% endblock %}
