@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';


html, body {
    background-color: #93ac9d;
}

.form-content {
    padding: 10px;
    border: solid 1px $black;
}

.form-inner {
    background-color: white;
    padding: 20px;
}

.form-buttons, .form-comments, .form-attachments, .form-routing, .form-approvals {
    background-color: white;
}


.route-dest-card {
    width: 15em;
    float: left;
    margin-left: 1em;
}

.card-section {
    overflow: visible;
}

.v-autocomplete .v-autocomplete-list {
    position: relative;
}
 
.v-autocomplete-list {
    background-color: white;
    width: 180px;
    border: 1px solid map-get($foundation-palette, secondary);
}

.v-autocomplete-list-item {
    margin-left: 5px;
    overflow: visible;
    z-index: 99;
}

.dest-close {
    float: right !important;
}

.route-group-select-label {
    display: inline-block;
}
.route-group-select {
    display: inline-block;
    width: 150px;
}

.blue {
    color: map-get($foundation-palette, primary);
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}

.form-image {
    height: 140px;
}


// .sticky-footer-css {
//   height: 100vh;
//   display: flex;
// }

// .sticky-footer-css-body {
//   overflow: auto;
// }

// .sticky-footer-css {
//   .header {
//     background-color: map-get($foundation-palette, primary);
//     height: 10rem;
//     color: #fff;
//     padding: 3rem;

//     .menu a {
//       color: #fff;
//     }
//   }

//   .body-content {
//     background-color: map-get($foundation-palette, primary);
//   }

//   .footer {
//     height: 10rem;
//     background-color: map-get($foundation-palette, primary);
//     color: #fff;
//     padding: 3rem;

//     a {
// 	color: darken(map-get($foundation-palette, primary), 30%);
//     }

//     .menu a {
//       color: #fff;
//     }
//   }
// }

.social-footer {
  padding: 1rem;
  background: lighten(map-get($foundation-palette, primary), 30%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;

  a {
      color: darken(map-get($foundation-palette, primary), 30%);
  }

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.3rem;
      color: $white;

      &:hover {
        color: darken(map-get($foundation-palette, primary), 50%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

