@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

.form-content {
    padding: 10px;
    border: solid 1px black;
}

.route-dest-card {
    // border: 1px solid  map-get($foundation-palette, secondary);
    width: 15em;
    float: left;
    margin-left: 1em;
}
