<script type="text/javascript">

 Vue.component('autocomplete', {
   delimiters: ["<%","%>"],
   props: ['name', 'title', 'items', 'label'],
   data: function() {
     return {
       filteredItem: '',
     }
   },

   computed: {
     item: {
       get: function() {
	 return this.filteredItem;
       },
       set: function(item) {
	 this.filteredItem = item;
       }
     },

     filteredItems: {
       get: function() {
	 var self = this;
	 if (this.item !== '' && typeof(this.item) !== 'object') {
	   var regexp = new RegExp(this.item, 'ig');
	   return self.items.filter(function(val) {
	     return regexp.test(val[self.label]);
	   });
         }
	 
	 return this.items;
       },

       set: function(items) {
	 return items;
       }
     },
   },
   
   template: `
     <div>
       <input type="text" 
	      v-model="item" 
       :name="name" 
       @keydown="filterItems" 
              data-toggle="send-to-user-dropdown"
              id="send-to-user"
	      autocomplete="off" 
       :placeholder="title" />
     <div class="dropdown-pane" id="send-to-user-dropdown" data-dropdown>
	 <ul class="no-bullet">
	   <li v-for="item in filteredItems" @click="setItem(item)">
	     <% item[label] %>
	   </li>
	 </ul>
     </div>
     </div>
   `,

   methods: {
     filterItems: function(event) {
       this.item = event.target.value;
       if (event.target.value === "") {
	 this.setItem("");
       }
     },

     setItem: function(item) {
       this.item = item[this.label];
       
       // Emit event to disable the other option.
       this.$emit('item-chosen', item);
     }
   },

   created: function() {
     /* if (this.destitem) {
      *   if (this.destitem.hasOwnProperty('username')) {
	this.filteredItem = this.destitem.username;
      *   } else if (this.destitem.hasOwnProperty('name')) {
	this.filteredItem = this.destitem.name;
      *   }
      * } */
   }
 });
 
 var app = new Vue({
   el: '.form-content',     
   data: {% autoescape off %}{{data}}{% endautoescape %},

   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     },

     users: function() {
       return [
	 {% for user in users %}
	 {
	   id: {{user.id}},
	   username: '{{user.username}}',
	   email: '{{user.email}}'
	 },
	 {% endfor %}
       ];
     },

     {% if input %}
     input: function() {
       return {
	 id: {{input.id}},
	 route_holder: {% if input.route_holder %}{{input.route_holder.id}}{% else %}{{input.user.id}}{% endif %},
         route_sender: {% if input.route_sender %}{{input.route_sender.id}}{% else %}{{input.user.id}}{% endif %},
       }
     }
     {% endif %}
   },
   
   methods: {
     submitForm: function(event) {
       // Serialize form into a JSON object to send to /inbox/create.
       var self = this;
       var $form = $('#input-form');
       var formData = $form.serializeObject();
       var data = {
	 form: $form.attr('name'),
	 data: JSON.stringify(formData),
	 user: userId
       };

       var url, method;
       if (this.pathParts[this.pathParts.length - 1] !== "" && this.pathParts[1] !== 'forms' && this.pathParts[this.pathParts.length - 1] !== "Delete") {
	 url = '/api/inbox/' + this.pathParts[this.pathParts.length - 1];
	 method = 'put';
       } else {
	 url = '/api/inbox/';
	 method = 'post';
       }
       
       $.ajax({
	 url: url,
	 method: method,
	 data: data,
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('post data:', data);
	   localStorage.setItem('form_' + self.pathParts[self.pathParts.length - 1], null);
	   window.location.href = '/inbox/' + data.id;
	 }
       });
     },
     
     saveInput: function(event) {
       var inputData = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1])) || {};
       inputData[event.target.name] = event.target.value;
       localStorage.setItem('form_' + this.pathParts[this.pathParts.length - 1], JSON.stringify(inputData));
     },

     setUser: function(item) {
       // Save the user for later routing.
       this.next_user = item;
     },

     routeForm: function(event) {
       console.log('app routeForm... event:', event);

       $.ajax({
	 url: '/api/inbox/' + this.input.id,
	 method: 'patch',
	 data: {status: 'routed', route_holder: this.next_user.id, route_sender: userId},
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('app routeForm patch data:', data);
	   window.location.reload();
	 }
       });
     }
   },

   mounted: function() {
     var self = this;
     var data = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1]));
     if (data !== 'null' && data !== null && data !== 'undefined') {
       $.each(data, function(k, v) {
	 self[k] = v;
       });
     }

     // Set the scroll height of all textarea elements to match their contents.
     $.each($('textarea'), function(idx, el) {
       var $el = $(el);
       $el.height($el.prop('scrollHeight'));
     });
   }
 });
</script>
