<script type="text/javascript">

 Vue.component('destination', {
   delimiters: ["<%","%>"],
   props: ['id', 'group', 'user', 'step', 'inputStep',  'name'],

   template: `
     
     <span v-if="user"> <% user %> &#x21e8; </span>
     <span v-else>
       <label class="route-group-select-label"><% group.name %></label>
       <select v-if="currentDest" class="route-group-select" :id="id" :name="group.id">
	 <option value=""></option>
	 <option v-for="user in group.members" :value="user.id">
	   <% user.username %>
	 </option>
       </select>
       &#x21e8;
     </span>
   `,

   data: function() {
     return {
     };
   },

   computed: {
     currentDest: function() {
       console.log('currentDest:', this.step == this.inputStep);
       return this.step == this.inputStep;
     }
   }
 });

 Vue.component('route', {
   delimiters: ["<%","%>"],
   props: ['id', 'dests'],
   data: function() {
     return {
     };
   },

   template: `
     <li>
       <strong>Me</strong> &#x21e8;
       
       <destination v-for="dest in dests"
	 :key="dest.id"
	 :id="dest.id"
	 :name="dest.name"
	 :step="dest.step"
	 :user="dest.user"
	 :input-step="dest.inputStep"
	 :group="dest.group"></destination>
       
       Archive
       &nbsp;&nbsp;
       <button type="button" class="button default small" @click="routeForm">Send</button>
     </li>
   `,

   methods: {
     routeForm: function(event) {
       console.log('route routeForm...');
     }
   }
 });
 
 var app = new Vue({
   el: '.form-content',     
   data: {% autoescape off %}{{data}}{% endautoescape %},

   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     },

     routes: function() {
       return [{% for route in input.form.route_set.all %}
	       {
		 id: {{route.id}},
		 dests: [{% for dest in route.destination_set.all %}
			 {
			   id: {{dest.id}},
			   user: {% if dest.user %}"{{dest.user.username}}"{% else %}""{% endif %},
			   group: {% if dest.group %}
				  {
				   id: {{dest.group.id}},
				   name: "{{dest.group.name}}",
				   members: [
				     {% for user in dest.group.user_set.all %}
				     {id: {{user.id}}, username: "{{user.username}}"},
				     {% endfor %}
				   ],
				  }
				   {% else %}
			             ""
				   {% endif %},
			   step: {{dest.step}},
			   inputStep: {{input.step}},
			   name: "{{dest.name}}"
			 },
		 {% endfor %}]
	       },
       {% endfor %}];
     },

     input: function() {
       return {
	 id: {{input.id}},
	 step: {{input.step}}
       }
     }
   },
   
   methods: {
     submitForm: function(event) {
       // Serialize form into a JSON object to send to /inbox/create.
       var self = this;
       var $form = $('#input-form');
       var formData = $form.serializeObject();
       var data = {
	 form: $form.attr('name'),
	 data: JSON.stringify(formData),
	 user: userId
       };

       var url, method;
       if (this.pathParts[this.pathParts.length - 1] !== "" && this.pathParts[1] !== 'forms' && this.pathParts[this.pathParts.length - 1] !== "Delete") {
	 url = '/api/inbox/' + this.pathParts[this.pathParts.length - 1];
	 method = 'put';
       } else {
	 url = '/api/inbox/';
	 method = 'post';
       }
       
       $.ajax({
	 url: url,
	 method: method,
	 data: data,
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('post data:', data);
	   localStorage.setItem('form_' + self.pathParts[self.pathParts.length - 1], null);
	   window.location.href = '/inbox/' + data.id;
	 }
       });
     },
     
     saveInput: function(event) {
       var inputData = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1])) || {};
       inputData[event.target.name] = event.target.value;
       localStorage.setItem('form_' + this.pathParts[this.pathParts.length - 1], JSON.stringify(inputData));
     },

     routeForm: function(event) {
       console.log('routeForm... event:', event);
     }
   },

   mounted: function() {
     var self = this;
     var data = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1]));
     if (data !== 'null' && data !== null && data !== 'undefined') {
       $.each(data, function(k, v) {
	 self[k] = v;
       });
     }

     // Set the scroll height of all textarea elements to match their contents.
     $.each($('textarea'), function(idx, el) {
       var $el = $(el);
       $el.height($el.prop('scrollHeight'));
     });
   }
 });
</script>
