<script type="text/javascript">

 Vue.component('autocomplete', {
   delimiters: ["<%","%>"],
   props: ['name', 'title', 'items', 'label'],
   data: function() {
     return {
       filteredItem: '',
     }
   },

   computed: {
     item: {
       get: function() {
	 return this.filteredItem;
       },
       set: function(item) {
	 this.filteredItem = item;
       }
     },

     filteredItems: {
       get: function() {
	 var self = this;
	 if (this.item !== '' && typeof(this.item) !== 'object') {
	   var regexp = new RegExp(this.item, 'ig');
	   return self.items.filter(function(val) {
	     return regexp.test(val[self.label]);
	   });
         }
	 
	 return this.items;
       },

       set: function(items) {
	 return items;
       }
     },
   },
   
   template: `
     <div>
       <input type="text" 
	      v-model="item" 
       :name="name" 
       @keydown="filterItems" 
              data-toggle="send-to-user-dropdown"
              id="send-to-user"
	      autocomplete="off" 
       :placeholder="title" />
     <div class="dropdown-pane" id="send-to-user-dropdown" data-dropdown>
	 <ul class="no-bullet">
	   <li class="autocomplete-item" v-for="item in filteredItems" @click="setItem(item)">
	     <% item[label] %>
	   </li>
	 </ul>
     </div>
     </div>
   `,

   methods: {
     filterItems: function(event) {
       this.item = event.target.value;
       if (event.target.value === "") {
	 this.setItem("");
       }
     },

     setItem: function(item) {
       this.item = item[this.label];
       
       // Emit event to disable the other option.
       this.$emit('item-chosen', item);
     }
   }
 });
 
 var app = new Vue({
   el: '#vue-app',     
   data: {% autoescape off %}{{data}}{% endautoescape %},

   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     },

     users: function() {
       return [
	 {% for user in users %}
	 {
	   id: {{user.id}},
	   username: '{{user.username}}',
	   email: '{{user.email}}'
	 },
	 {% endfor %}
       ];
     },

     {% if input %}
     input: function() {
       return {
	 id: {{input.id}},
	 route_holder: {% if input.route_holder %}{{input.route_holder.id}}{% else %}{{input.user.id}}{% endif %},
         route_sender: {% if input.route_sender %}{{input.route_sender.id}}{% else %}{{input.user.id}}{% endif %},
	 user: {{input.user.id}},
	 status: "{{input.status}}"
       }
     }
     {% endif %}
   },
   
   methods: {
     submitForm: function(event) {
       // Serialize form into a JSON object to send to /inbox/create.
       var self = this;
       var $form = $('#input-form');

       var formData = $form.serializeObject();
       formData['dyns'] = this.dyns;
       console.log('formData:', formData);
       
       var data = {
	 form: $form.attr('name'),
	 data: JSON.stringify(formData),
	 user: userId
       };

       var url, method;
       if (this.pathParts[this.pathParts.length - 1] !== "" && this.pathParts[1] !== 'forms' && this.pathParts[this.pathParts.length - 1] !== "Delete") {
	 url = '/api/inbox/' + this.pathParts[this.pathParts.length - 1];
	 method = 'put';
       } else {
	 url = '/api/inbox/';
	 method = 'post';
       }
       
       $.ajax({
	 url: url,
	 method: method,
	 data: data,
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('post data:', data);
	   localStorage.setItem('form_' + self.pathParts[self.pathParts.length - 1], null);

	   // Lookup the next_user if the username was typed into the field.
	   if (self.next_user.id === undefined) {
	     self.next_user = self.users.filter(function(user) {
	       if (user.username === $('#send-to-user').val()) {
		 return user;
	       }
	     })[0];

	     // If typed in user isn't found set next_user to emtpy string (default value).
	     if (self.next_user === undefined) {
	       self.next_user = '';
	     }
	   }

	   // Create the comment if the comment field isn't blank.
	   if ($('#comment').val().length) {
	     $.ajax({
	       url: '/api/inbox/' + data.id + '/add_comment',
	       method: 'post',
	       data: {text: $('#comment').val(), user_id: userId},
	       headers: {
		 Authorization: 'Token ' + token,
		 contentType: 'application/json; charset=utf-8'
	       },
	       success: function(commentData) {
		 console.log('app createComment post data:', commentData);
		 
		 // Send the new Input to the next_user.
		 if (self.next_user !== '') {
		   $.ajax({
		     url: '/api/inbox/' + data.id,
		     method: 'patch',
		     data: {status: 'routed', route_holder: self.next_user.id, route_sender: userId},
		     headers: {
		       Authorization: 'Token ' + token,
		       contentType: 'application/json; charset=utf-8'
		     },
		     success: function(sendData) {
		       console.log('app submitForm send patch data:', sendData);
		       self.addCreationAttachment(data.id);
		     }
		   });
		 } else {
		   // Create attachemnt.
		     self.addCreationAttachment(data.id);
		 }
	       },
	       error: function(err) {
		 console.log('Error creating comment, err:', err);
	       }
	     });
	   } else {
	     // Send the form if self.next_user isn't blank.
	     if (self.next_user !== '') {
	       $.ajax({
		 url: '/api/inbox/' + data.id,
		 method: 'patch',
		 data: {status: 'routed', route_holder: self.next_user.id, route_sender: userId},
		 headers: {
		   Authorization: 'Token ' + token,
		   contentType: 'application/json; charset=utf-8'
		 },
		 success: function(sendData) {
		   console.log('app submitForm send patch data:', sendData);
		   self.addCreationAttachment(data.id);
		 }
	       });
	     } else {
	       // Create attachemnt/go to new Input.
	       self.addCreationAttachment(data.id);
	     }
	   }
	 }
       });
     },
     
     saveInput: function(event) {
       var inputData = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1])) || {};
       inputData[event.target.name] = event.target.value;
       localStorage.setItem('form_' + this.pathParts[this.pathParts.length - 1], JSON.stringify(inputData));
     },

     setUser: function(item) {
       // Save the user for later routing.
       console.log('setUser item:', item);
       this.next_user = item;
     },

     routeForm: function(event) {
       console.log('app routeForm... event:', event);
       var self = this;

       // Lookup the next_user if the username was typed into the field.
       if (this.next_user.id === undefined) {
	 this.next_user = this.users.filter(function(user) {
	   if (user.username === $('#send-to-user').val()) {
	     return user;
	   }
	 })[0];

	 // If typed in user isn't found set next_user to emtpy string (default value).
	 if (this.next_user === undefined) {
	   this.next_user = '';
	 }
       }

       if (this.next_user.id) {
	 $.ajax({
	   url: '/api/inbox/' + this.input.id,
	   method: 'patch',
	   data: {status: 'routed', route_holder: this.next_user.id, route_sender: userId},
	   headers: {
	     Authorization: 'Token ' + token,
	     contentType: 'application/json; charset=utf-8'
	   },
	   success: function(data) {
	     console.log('app routeForm patch data:', data);
	     if (self.input.user == parseInt(userId)) {
	       window.location.reload();
	     } else {
	       window.location.href = '/inbox';
	     }
	   }
	 });
       } else {
	 $('#send-to-user-error').html($('#send-to-user').val());
	 $routeError = $('#route-error');
	 if ($routeError.hasClass('hide')) {
	   $('#route-error').removeClass('hide');
	 }
       }
     },

     archiveForm: function(event) {
       $.ajax({
	 url: '/api/inbox/' + this.input.id,
	 method: 'patch',
	 data: {status: 'archived', route_holder: null, route_sender: userId},
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('app archiveForm patch data:', data);
           window.location.href = '/inbox';
	 }
       });
     },

     createComment: function(event) {
       $.ajax({
	 url: '/api/inbox/' + this.input.id + '/add_comment',
	 method: 'post',
	 data: {text: this.comment, user_id: userId},
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   console.log('app createComment post data:', data);
           window.location.reload();
	 },
	 error: function(err) {
	   console.log('Error creating comment, err:', err);
	 }
       });
     },

     addAttachment: function(event) {
       console.log('Adding attachment... event.target.value:', event.target.value);
       console.log('this.attachment:', this.attachment.getAll('file'), 'this.attachment.getAll(user_id):', this.attachment.getAll('user_id'));

       $.ajax({
	 url: '/api/inbox/' + this.input.id + '/add_attachment',
	 method: 'post',
	 data: this.attachment,
	 headers: {
	   Authorization: 'Token ' + token,
	 },
	 success: function(data) {
	   console.log('app addAttachment post data:', data);
           window.location.reload();
	 },
	 error: function(err) {
	   console.log('Error creating attachment, err:', err);
	 }
       });
     },

     addCreationAttachment: function(id) {
       if ($('#attachment-file').val().length) {
	 $form = $('#attachment-form');
	 $form.attr('action', '/inbox/' + id + '/add_attachment');
	 $form.submit();
       } else {
	 window.location.href = '/inbox/' + id;
       }
     },

     filesChange: function(event) {
       var attachmentData = new FormData();

       attachmentData.append(event.target.name, event.target.files[0], event.target.files[0].name);
       console.log('attachmentData:', attachmentData);
       attachmentData.append('user_id', userId);
       this.attachment = attachmentData;
     },

     addRow: function(event) {
       // Find the table, tr elements, number of rows in the table,
       // and clone the last row.
       var $table = $('#' + $(event.target).data('dyn'));
       var trs = $table.find('tr');
       var rowNum = trs.length - 1;
       this.dyns[$table.attr('id')] = {id: $table.attr('id'), rowNum: rowNum};
       var $newRow = $(trs[trs.length - 1]).clone();

       // Change the name of the new row's inputs and append it to the table.
       this.renameInputs($newRow.find('input'), rowNum);
       $table.append($newRow);
     },

     renameInputs: function(inputs, rowNum) {
       var self = this;
       $.each(inputs, function(idx, input) {
	 var $input = $(input);
	 $input.val('');
	 $input.attr('v-model', newName);
	 
	 var nameParts = $input.attr('name').split('_');
	 nameParts.pop();
	 nameParts.push(rowNum + 1);
	 
	 var newName = nameParts.join('_');
	 // $input.attr('v-model', newName);
	 Vue.set(self, newName, self[newName]);
	 $input.val(self[newName]);
	 $input.attr('name', newName);
       });
     }
   },

   mounted: function() {
     var self = this;
     var data = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1]));
     if (data !== 'null' && data !== null && data !== 'undefined') {
       $.each(data, function(k, v) {
	 self[k] = v;
       });
     }

     // Set the scroll height of all textarea elements to match their contents.
     $.each($('textarea'), function(idx, el) {
       var $el = $(el);
       $el.height($el.prop('scrollHeight'));
     });

     // Click the button for each dynamic form.
     if (Object.keys(this.dyns).length) {
       for (var key in this.dyns) {
	 var $button = $('[data-dyn="' + key + '"]');	 
	 for (var i = 0; i < parseInt(this.dyns[key]['rowNum']); i++) {
	   console.log('i:', i);
	   // Add a small pause to add the new row before clicking again.
	   setTimeout(function() {$button.click()}, 20);
	 }

	 if (this.input.status === 'archived') {
	   $button.attr('disabled', true);
	 }
       }
     }
   },

   created: function() {
   }
 });
</script>
