{% load static %}
{% load has_group %}
{% load inbox_count %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formation | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/img/favicon-196x196.png" sizes="196x196">
    <link rel="shortcut icon" href="/assets/img/favicon.ico?v=1" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/vendor/codemirror.css">
    <link rel="stylesheet" href="/assets/css/vendor/v-autocomplete.css">
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	  {% if user.is_authenticated %}
	  <li id="forms-menu-item"><a href="/">Forms</a></li>
	  <li id="inbox-menu-item">
            <a href="/inbox">
	      Inbox
	      <span id="inbox-count" class="badge">{{user|inbox_count}}</span>
	    </a>
	  </li>
	  <li id="archive-menu-item"><a href="/inbox/archive">Archive</a></li>
	  <li id="approvals-menu-item"><a href="/inbox/approvals">Approvals</a></li>
	  {% else %}
	  <li><a href="/">Formation</a></li>
	  {% endif %}
	</ul>
      </div>
      <div class="top-bar-right">
	<ul class="dropdown menu" data-dropdown-menu>
	  {% if request.user.is_authenticated %}
	    <li><input type="search" id="search-input" placeholder="Search"></li>
	    <li><button type="button" id="search-button" class="button small">Search</button></li>
	    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
	    <li><a href="/accounts/logout">Logout</a></li>
	  {% else %}
	    <li><a href="/accounts/login">Login</a></li>
	  {% endif %}
	  {% if user.is_authenticated and user|has_group:"Admin" %}
	  <li id="admin-menu-item" class="has-submenu">
            <a href="/form-admin">Admin</a>
            <ul class="submenu menu vertical" data-dropdown-menu>
	      {% if user.is_superuser %}
		<li><a href="/admin">Django Admin</a></li>
              {% endif %}
            </ul>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <br/>
    
    <div class="container">
      
      <div class="row">
        <div class="columns small-12">
          {% if messages %}
            <div class="row">
              <div class="columns small-6">
                {% for message in messages %}
                  <div class="callout {{message.tags}}" data-closable>
                    {{message}}
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
	  
          {% block body %}{% endblock %}
	</div>
      </div>
      
    </div>

    <script type="text/javascript">
     var token = "{{user.auth_token.key}}";
     var userId = "{{user.id}}";
    </script>

    <script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/jquery.serializeObject.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/codemirror.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/xml.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/htmlmixed.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/vue.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    {% block vue %}
    {% endblock %}
    <br/><br/>
    
    <div class="sticky-footer-css">
      <div class="row expanded flex-dir-column">
	<div class="columns shrink footer text-center">

	</div>
      </div>
    </div>

    

    <footer class="social-footer">
      <div class="social-footer-left">
	<p><strong>Formation</strong>, making forms fun!</p>
	<p>Brought to you by <a href="https://thehoick.com" target="_blank">The Hoick, LLC</a></p>
      </div>
      <div class="social-footer-icons">
	<ul class="menu simple">
	</ul>
      </div>
    </footer>



  </body>
</html>
