<script type="text/javascript">

 var app = new Vue({
   el: '#route-form',     
   data: {
     users: [
       {% for user in users %}
       {
	 id: {{user.id}},
	 username: '{{user.username}}',
	 email: '{{user.email}}'
       },
       {% endfor %}
     ],
     groups: [
       {% for group in groups %}
       {
	 id: {{group.id}},
	 name: '{{group.name}}'
       },
       {% endfor %}
     ]
   },
   
   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     }
   },
 });
</script>
