
<script type="text/javascript">
 var formId = parseInt(window.location.search.split('?')[1].split('=')[1]);
 
 Vue.component('autocomplete', {
   delimiters: ["<%","%>"],
   props: ['name', 'title', 'items', 'label', 'disabled'],
   data: function() {
     return {
       item: '',
     }
   },

   computed: {
     dropdownId: function() {
       return 'dd_' + Math.floor((Math.random() * 1000) + 1);
     },

     inputId: function() {
       return 'input_' + this.dropdownId;
     },

     filteredItems: {
       get: function() {
	 var self = this;
	 if (this.item !== '' && typeof(this.item) !== 'object') {
	   var regexp = new RegExp(this.item, 'ig');
	   return self.items.filter(function(val) {
	     return regexp.test(val[self.label]);
	   });
         }
	 
	 return this.items;
       },

       set: function(items) {
	 return items;
       }
     },

     isDisabled: function() {
       return this.disabled === 'disabled';
     }
   },
   
   template: `
     <div>
       <label :for="inputId"><% title %></label>
       <input type="text" v-model="item" :name="name" @keydown="filterItems" :data-toggle="dropdownId" :id="inputId" :disabled="isDisabled" />
       <div class="dropdown-pane" :id="dropdownId" data-dropdown>
	 <ul class="no-bullet">
	   <li v-for="item in filteredItems" @click="setItem(item)">
	     <% item[label] %>
	   </li>
	 </ul>
       </div>
     </div>
   `,

   methods: {
     filterItems: function(event) {
       this.item = event.target.value;
       if (event.target.value === "") {
	 this.setItem("");
       }
     },

     setItem: function(item) {
       this.item = item[this.label];
       
       // Emit event to disable the other option.
       this.$emit('item-chosen', item);
     }
   }
 });

 Vue.component('destination', function(resolve) {
   resolve({
     delimiters: ["<%","%>"],
     data: function() {
       return {
	 user: '',
	 group: ''
       }
     },
     props: ['id', 'name', 'step', 'users', 'groups', 'isRemoveable'],

     mounted: function() {
       var cards = $('.card.route-dest-card');

       // "reflow" Foundation when a new Destination component is added to the DOM.
       if (cards.length > 3) {
	 $(cards[cards.length - 2]).foundation();
       }
     },

     template: `
       <div class="card route-dest-card">
	 <div v-bind:class="[isRemoveable ? 'card-section' : 'card-divider']">
	   <span class="float-left"><% name %></span>
	   <button type="button" v-if="isRemoveable" class="button tiny secondary float-right" @click="removeDest" :name="id">&times;</button>
	   <hr v-if="isRemoveable" />
	 </div>
	 <div class="card-section">
	   <autocomplete @item-chosen="setUser" @blur="setUser" :disabled="user" :name="name" title="User" :items="users" label="username"></autocomplete>
	   
	   <small>or</small><br/>
	   
	   <autocomplete @item-chosen="setGroup" @blur="setGroup" :disabled="group" :name="name" title="Group" :items="groups" label="name"></autocomplete>
	 </div>
       </div>
     `
     ,

     methods: {
       setUser: function(item) {
         this.user = item;

	 if (item !== "") {
	   this.group = 'disabled';
	 } else {
	   this.group = '';
	 }

	 this.updateDest('user', item);
	 
	 this.$forceUpdate();
       },

       setGroup: function(item) {
	 this.group = item;

	 if (item !== "") {
	   this.user = 'disabled';
	 } else {
	   this.user = '';
	 }

	 this.updateDest('group', item);
	 
	 this.$forceUpdate();
       },

       updateDest: function(type, item) {
	 var data = {};
	 var method, url;
	 if (this.id) {
	   url = '/api/destinations/' + this.id;
	   method = 'patch';
	   data[type + '_id'] = item.id;
	 } else {
	   url = '/api/destinations/';
	   method = 'post';
	   data['step'] = this.step;
	   data[type + '_id'] = item.id;
	 }
	 
	 // Update the server.
	 $.ajax({
	   url: url,
	   method: method,
	   data: data,
	   headers: {
	     Authorization: 'Token ' + token,
	     contentType: 'application/json; charset=utf-8'
	   },
	   success: function(data) {
	     console.log('setUser success data:', data);
	   }
	 });
       },

       removeDest: function(event) {
	 this.$emit('remove-dest', event.target.name);
       },
     },

     components: {name: 'autocomplete'}
   });
 });
 
 var app = new Vue({
   el: '#route-form',
   delimiters: ["<%","%>"],
   created: function() {
     // TODO:as get a list of Detination objects and add them to dests.
   },
   
   data: {
     destCount: 1,
     users: [
       {% for user in users %}
       {
	 id: {{user.id}},
	 username: '{{user.username}}',
	 email: '{{user.email}}'
       },
       {% endfor %}
     ],
     groups: [
       {% for group in groups %}
       {
	 id: {{group.id}},
	 name: '{{group.name}}'
       },
       {% endfor %}
     ],
   },
   
   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     },

     dests: {
       get: function() {
	 return [
	   {name: 'Start', step: 0, users: this.users, groups: this.groups, isRemoveable: false},
	   {name: 'Destination 1', step: 1, users: this.users, groups: this.groups, isRemoveable: false},
	 ];
       },
       
       set: function(dests) {

	 if (dests[0] == 'remove') {
	   // Remove the first element 'remove' string.
	   dests.shift();
	   var self = this;

	   // Remove the old dests.
	   for (var i = 0; i=this.dests.length; i++) {
	     self.dests.pop();
	   }

	   // Add the new dests.
	   dests.forEach(function(dest) {
	     self.dests.push(dest);
	   });

	   // Re-order the dests.
	   self.dests.forEach(function(dest, idx) {
	     if (dest.step != idx) {
	       dest.step = idx;
	       dest.name = 'Destination ' + idx;

	       // Update the server.
	       $.ajax({
		 url: '/api/destinations/' + dest.id,
		 method: 'put',
		 data: {step: dest.step},
		 headers: {
		   Authorization: 'Token ' + token,
		   contentType: 'application/json; charset=utf-8'
		 },
		 success: function(data) {
		   // Need to force a rerender I guess due to dests being a computed property...
		     self.$forceUpdate();
		 }
	       });
	     }
	   });
	 } else {
	   this.dests.push(dest);
	 }
       }
     },
   },

   methods: {
     addDest: function(event) {
       var self = this;
       this.destCount = this.destCount + 1;
       
       // Send Ajax request to create a new Destination object.
       $.ajax({
	 url: '/api/destinations/',
	 method: 'post',
	 data: {step: this.destCount},
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   self.dests.push({
	     id: data.id,
	     name: 'Destination ' + self.destCount,
	     users: self.users,
	     groups: self.groups,
	     isRemoveable: true
	   });
	   
	   // Need to force a rerender I guess due to dests being a computed property...
	   self.$forceUpdate();
	 }
       });

     },

     removeDest: function(destId) {
       var self = this;
       this.destCount = this.destCount + 1;
       
       // Send Ajax request to remove the Destination object.
       $.ajax({
	 url: '/api/destinations/' + destId,
	 method: 'delete',
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {	   
	   var newDests = self.dests.filter(function(dest) {
	     if (dest.id == destId) {
	       return false;
	     }
	     return true;
	   });
	   newDests.unshift('remove');
	   self.dests = newDests;
	   
	   // Need to force a rerender I guess due to dests being a computed property...
	   self.$forceUpdate();
	 }
       });

     },
     
     getUsername: function(username, label) {
       this.userName = username;

       if (this.users[username]) {
	 return this.users[username].username;
       }

       return '';
     },

     getGroupname: function(groupname) {
       this.groupName = groupname;
       
       if (this.groups[groupname]) {
	 return this.groups[groupname].name;
       } else {
	 return '';
       }
     },

     submitRouteForm: function(event) {
       event.preventDefault();
       console.log('submitting form...');
     }
   },

   components: { name: 'destination', name: 'autocomplete' },
 });
</script>
