
<script type="text/javascript">

 var formId;
 if (window.location.search.split('?')[1]) {
   formId = parseInt(window.location.search.split('?')[1].split('=')[1]);
 }
 
 Vue.component('autocomplete', {
   delimiters: ["<%","%>"],
   props: ['name', 'title', 'destitem', 'items', 'label', 'disabled'],
   data: function() {
     return {
       filteredItem: '',
     }
   },

   computed: {
     item: {
       get: function() {
	 return this.filteredItem;
       },
       set: function(item) {
	 this.filteredItem = item;
       }
     },
     
     dropdownId: function() {
       var dropdownId = 'dd_' + Math.floor((Math.random() * 1000) + 1);
       return dropdownId;
     },

     inputId: function() {
       return 'input_' + this.dropdownId;
     },

     filteredItems: {
       get: function() {
	 var self = this;
	 if (this.item !== '' && typeof(this.item) !== 'object') {
	   var regexp = new RegExp(this.item, 'ig');
	   return self.items.filter(function(val) {
	     return regexp.test(val[self.label]);
	   });
         }
	 
	 return this.items;
       },

       set: function(items) {
	 return items;
       }
     },

     isDisabled: function() {
       return this.disabled === 'disabled';
     }
   },
   
   template: `
     <div>
       <label :for="inputId"><% title %></label>
       <input type="text" v-model="item" :name="name" @keydown="filterItems" :data-toggle="dropdownId" :id="inputId" :disabled="isDisabled" autocomplete="off" />
       <div class="dropdown-pane" :id="dropdownId" data-dropdown>
	 <ul class="no-bullet">
	   <li v-for="item in filteredItems" @click="setItem(item)">
	     <% item[label] %>
	   </li>
	 </ul>
       </div>
     </div>
   `,

   methods: {
     filterItems: function(event) {
       this.item = event.target.value;
       if (event.target.value === "") {
	 this.setItem("");
       }
     },

     setItem: function(item) {
       this.item = item[this.label];
       
       // Emit event to disable the other option.
       this.$emit('item-chosen', item);
     }
   },

   created: function() {
     if (this.destitem) {
       if (this.destitem.hasOwnProperty('username')) {
	 this.filteredItem = this.destitem.username;
       } else if (this.destitem.hasOwnProperty('name')) {
	 this.filteredItem = this.destitem.name;
       }
     }
   }
 });

 Vue.component('destination', function(resolve) {
   resolve({
     delimiters: ["<%","%>"],
     data: function() {
       return {
	 localUser: '',
	 localGroup: ''
       }
     },
     props: ['id', 'name', 'step', 'destuser', 'destgroup', 'users', 'groups', 'isRemoveable'],

     created: function() {
       this.localGroup = this.destgroup;
       this.localUser = this.destuser;
     },

     mounted: function() {
       var cards = $('.card.route-dest-card');
       var pathParts = window.location.pathname.split('/');
       
       // "reflow" Foundation when a new Destination component is added to the DOM.
       if (cards.length > 3) {
	 $(cards[cards.length - 2]).foundation();
       }
     },

     computed: {
       user: {
	 get: function() {
	   return this.localUser;
	 },

	 set: function(user) {
	   this.localUser = user;
	 }
       },
       group: {
	 get: function() {
	   return this.localGroup;
	 },

	 set: function(group) {
	   this.localGroup = group;
	 }
       },
     },

     template: `
       <div class="card route-dest-card">
	 <div v-bind:class="[isRemoveable ? 'card-section' : 'card-divider']">
	   <span class="float-left"><% name %></span>
	   <button type="button" v-if="isRemoveable" class="button tiny secondary float-right" @click="removeDest" :name="id">&times;</button>
	   <hr v-if="isRemoveable" />
	 </div>
	 <div class="card-section">
	   <autocomplete @item-chosen="setUser" @blur="setUser" :disabled="user" :name="name" title="User" :destitem="user" :items="users" label="username"></autocomplete>
	   
	   <small>or</small><br/>
	   
	   <autocomplete @item-chosen="setGroup" @blur="setGroup" :disabled="group" :name="name" title="Group" :destitem="group" :items="groups" label="name"></autocomplete>
	 </div>
       </div>
     `
     ,

     methods: {
       setUser: function(item) {
         this.user = item;

	 if (item !== "") {
	   this.group = 'disabled';
	 } else {
	   this.group = '';
	 }

	 this.updateDest('user', item, 'group');
	 this.$forceUpdate();
       },

       setGroup: function(item) {
	 this.group = item;

	 if (item !== "") {
	   this.user = 'disabled';
	 } else {
	   this.user = '';
	 }

	 this.updateDest('group', item, 'user');
	 this.$forceUpdate();
       },

       updateDest: function(type, item, unset) {
	 var self = this;
	 var data = {};
	 var method, url;
	 if (this.id) {
	   url = '/api/destinations/' + this.id;
	   method = 'patch';
	   data[type + '_id'] = item.id;
	 } else {
	   url = '/api/destinations/';
	   method = 'post';
	   data['step'] = this.step;
	   data[type + '_id'] = item.id;
	   data['name'] = this.name;
	   data['is_removeable'] = false;

	   if (unset) {
	     data[unset] = null;
	   }
	 }
	 
	 // Update the server.
	 $.ajax({
	   url: url,
	   method: method,
	   data: data,
	   headers: {
	     Authorization: 'Token ' + token,
	     contentType: 'application/json; charset=utf-8'
	   },
	   success: function(data) {

	     // If Destination is step 0 or 1, add the id to destIds.
	     if (data.step === 0 || data.step === 1) {
	       self.$emit('add-destid', data.id);
	       self.$forceUpdate();
	     }
	   }
	 });
       },

       removeDest: function(event) {
	 this.$emit('remove-dest', event.target.name);
       },
     },

     components: {name: 'autocomplete'}
   });
 });
 
 var app = new Vue({
   el: '#route-form',
   delimiters: ["<%","%>"],
   
   data: {
     destCount: 1,
     users: [
       {% for user in users %}
       {
	 id: {{user.id}},
	 username: '{{user.username}}',
	 email: '{{user.email}}'
       },
       {% endfor %}
     ],
     groups: [
       {% for group in groups %}
       {
	 id: {{group.id}},
	 name: '{{group.name}}'
       },
       {% endfor %}
     ],
     destIds: {% if object.pk %}
	      [
		{% for dest in object.destination_set.all %}
		{{dest.id}},
		{% endfor %}
	      ],
     {% else %}
     [],
     {% endif %}
     {% if object %}
     routeId: {{object.id}}
     {% endif %}
   },
   
   computed: {
     pathParts: function() {
       return window.location.pathname.split('/');
     },

     dests: {
       get: function() {
	 return [
	   {% if not object %}
	   {name: 'Start', step: 0, users: this.users, groups: this.groups, isRemoveable: false},
	   {name: 'Destination 1', step: 1, users: this.users, groups: this.groups, isRemoveable: false},
	   {% else %}
	   {% for dest in object.destination_set.all %}
	   {
	     id: {{dest.id}},
	     name: "{{dest.name}}",
	     step: {{dest.step}},
	     user: {% if dest.user %}{id: {{dest.user.id}}, username: "{{dest.user.username}}", email: "{{dest.user.email}}"}{% else %}"disabled"{% endif %},
	     group: {% if dest.group %}{id: {{dest.group.id}}, name: "{{dest.group.name}}"}{% else %}"disabled"{% endif %},
	     users: this.users,
	     groups: this.groups,
	     isRemoveable: {% if dest.is_removeable %}true{% else %}false{% endif %}
	   },
	   {% endfor %}
	   {% endif %}
	 ];
       },
       
       set: function(dests) {

	 if (dests[0] == 'remove') {
	   // Remove the first element 'remove' string.
	   dests.shift();
	   var self = this;

	   // Remove the old dests.
	   for (var i = 0; i=this.dests.length; i++) {
	     self.dests.pop();
	   }

	   // Add the new dests.
	   dests.forEach(function(dest) {
	     self.dests.push(dest);
	   });

	   // Re-order the dests.
	   self.dests.forEach(function(dest, idx) {
	     if (dest.step != idx) {
	       dest.step = idx;
	       dest.name = 'Destination ' + idx;

	       // Update the server.
	       $.ajax({
		 url: '/api/destinations/' + dest.id,
		 method: 'put',
		 data: {step: dest.step},
		 headers: {
		   Authorization: 'Token ' + token,
		   contentType: 'application/json; charset=utf-8'
		 },
		 success: function(data) {
		   // Need to force a rerender I guess due to dests being a computed property...
		     self.$forceUpdate();
		 }
	       });
	     }
	   });
	 } else {
	   this.dests.push(dest);
	 }
       }
     },
   },

   methods: {
     addDest: function(event) {
       var self = this;
       this.destCount = this.destCount + 1;
       
       // Send Ajax request to create a new Destination object.
       $.ajax({
	 url: '/api/destinations/',
	 method: 'post',
	 data: {name: 'Destination ' + this.destCount, step: this.destCount, is_removeable: true, route_id: this.routeId},
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {
	   self.dests.push({
	     id: data.id,
	     name: data.name,
	     step: data.step,
	     users: self.users,
	     groups: self.groups,
	     isRemoveable: true
	   });

	   self.destIds.push(data.id);
	   
	   // Need to force a rerender I guess due to dests being a computed property...
	   self.$forceUpdate();
	 }
       });

     },

     addDestId: function(destId) {
       this.destIds.push(destId);
     },

     removeDest: function(destId) {
       var self = this;
       this.destCount = this.destCount + 1;
       
       // Send Ajax request to remove the Destination object.
       $.ajax({
	 url: '/api/destinations/' + destId,
	 method: 'delete',
	 headers: {
	   Authorization: 'Token ' + token,
	   contentType: 'application/json; charset=utf-8'
	 },
	 success: function(data) {	   
	   var newDests = self.dests.filter(function(dest) {
	     if (dest.id == destId) {
	       return false;
	     }
	     return true;
	   });
	   newDests.unshift('remove');
	   self.dests = newDests;

	   // Remove the destId from this.destIds.
	   for (var i=0; i<self.destIds.length; i++) {
	     if (self.destIds[i] == destId) {
	       self.destIds.splice(i, 1);
	     }
	   }
	   
	   // Need to force a rerender I guess due to dests being a computed property...
	   self.$forceUpdate();
	 }
       });

     },
     
     getUsername: function(username, label) {
       this.userName = username;

       if (this.users[username]) {
	 return this.users[username].username;
       }

       return '';
     },

     getGroupname: function(groupname) {
       this.groupName = groupname;
       
       if (this.groups[groupname]) {
	 return this.groups[groupname].name;
       } else {
	 return '';
       }
     },

     submitRouteForm: function(event) {
       event.preventDefault();
       console.log('submitting form...');
     },

     createRoute: function(event) {
       var data = {user_id: userId, form_id: formId, dests: this.destIds};

       if (!this.routeId) {
	 $.ajax({
	   url: '/api/routes/',
	   method: 'post',
	   data: JSON.stringify(data),
	   dataType: 'json',
           contentType: 'application/json',
	   headers: {
	     Authorization: 'Token ' + token,
	     // contentType: 'application/json'
	   },
	   success: function(data) {
	     window.location.href = '/routes/';
	   }
	 });
       } else {
	 window.location.href = '/routes/';
       }
     }
   },

   components: { name: 'destination', name: 'autocomplete' },
 });
</script>
