{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column small-12 large-10">
      <h1>Form Name: <em>{{form.name}}</em></h1>

    </div>

    <div class="large-2 small-12">
      <a href="{% url 'forms:update' pk=form.pk %}" class="button small secondary">Edit Form</a>
    </div>
  </div>

  <div class="form-content">
    {% autoescape off %}
      {{form.content}}
    {% endautoescape %}

    <br/>
    <button type="button" class="button default">Create</button>

  </div>
  
  <br />

  <hr/>
  

{% endblock %}
