{% extends 'layout.html' %}

{% block title %}{{form.name}}{% endblock %}
		 
{% block body %}
  <div id="vue-app">

    <div class="row">
      <div class="column large-12 small-12 form-content">
	
	  <div class="form-inner">
	    <div class="row">
	      <div class="column small-12 large-10">
		<h1>{{form.name}}</h1>
	      </div>

	      <div class="large-2 small-12">
		<a href="{% url 'forms:update' pk=form.pk %}" class="button small secondary">Edit Form</a>
	      </div>
	    </div>
	    
	    <form method="post" action="{% url 'inbox:create' %}" id="input-form" name="{{form.id}}">
	      {% autoescape off %}
		{{form.content}}
	      {% endautoescape %}

	    </form>
	  </div>

      </div>
    </div>

    <div class="row">
      <div class="column large-8 form-routing">
	<div class="row">
	  <div class="columns large-4">
	    <br/>
	    <autocomplete
	      @item-chosen="setUser"
	      @blur="setUser"
	      title="Send Form"
	      :items="users"
	      label="username"
	      class="inline"></autocomplete>
	  </div>

	  <div class="columns large-4">
	    <br/>
	    <button type="button" class="button small" title="Send" @click="submitForm">&#x27A4;</button>
	  </div>
	</div>
      </div>

      <div class="column large-4 form-buttons">
	<br/>
	<button type="button" class="button success" @click="submitForm">Save</button>
	<a href="{% url 'forms:list' %}" class="button secondary float-right">Cancel</a>
      </div>
    </div>

    
    <div class="row">
      <div class="column large-8 form-comments">
	<hr/>
	<h4>Comment</h4>

	<textarea name="comment" id="comment" placeholder="New comment..."></textarea>
      </div>

      <div class="column large-4 form-attachments">
	<hr/>
	<h4>Attachment</h4>

	<form action="" method="post" enctype="multipart/form-data" id="attachment-form">
	  {% csrf_token %}
	  <input type="hidden" name="user_id" value="{{user.id}}" />
	  <input type="file" name="file" id="attachment-file" />
	</form>
      </div>
    </div>


	</div>
	
      </div>
    </div>
  </div>
  <br/><br/>
{% endblock %}

{% block vue %}
  {% include 'form_vue.html' with data=form.fields %}
{% endblock %}

<br/><br/>
