{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column small-12 large-10">
      <h1>{{form.name}}</h1>

    </div>

    <div class="large-2 small-12">
      <a href="{% url 'forms:update' pk=form.pk %}" class="button small secondary">Edit Form</a>
    </div>
  </div>

  <div class="row">
    <div class="column large-8 small-12">
      
      <div class="form-content">
	
	<form method="post" action="{% url 'inbox:create' %}" id="input-form" name="{{form.id}}">
	  {% autoescape off %}
	      {{form.content}}
	  {% endautoescape %}

	  <br/><hr/>
	  <button type="button" class="button default" @click="submitForm">Create</button>
	  <a href="{% url 'forms:list' %}" class="button secondary float-right">Cancel</a>
	</form>

      </div>
      
    </div>
  </div>

{% endblock %}

{% block vue %}
  <script type="text/javascript">

   var app = new Vue({
     el: '.form-content',     
     data: {% autoescape off %}{{form.fields}}{% endautoescape %},

     computed: {
       pathParts: function() {
	 return window.location.pathname.split('/');
       }
     },
     
     methods: {
       submitForm: function(event) {
	 // Serialize form into a JSON object to send to /inbox/create.
	 var self = this;
	 var $form = $('#input-form');
	 var formData = $form.serializeObject();
	 var data = {
	   form: $form.attr('name'),
	   data: JSON.stringify(formData),
	   user: userId
	 };

	 var url, method;
	 if (this.pathParts[this.pathParts.length - 1] !== "" && this.pathParts[1] !== 'forms' && this.pathParts[this.pathParts.length - 1] !== "Delete") {
	   url = '/api/inbox/' + this.pathParts[this.pathParts.length - 1];
	   method = 'put';
         } else {
	   url = '/api/inbox/';
	   method = 'post';
	 }
	 
  	 $.ajax({
	   url: url,
	   method: method,
	   data: data,
	   headers: {
	     Authorization: 'Token ' + token,
	     contentType: 'application/json; charset=utf-8'
	   },
	   success: function(data) {
	     console.log('post data:', data);
	     localStorage.setItem('form_' + self.pathParts[self.pathParts.length - 1], null);
	     window.location.href = '/inbox/' + data.id;
	   }
	 });
       },
       
       saveInput: function(event) {
	 var inputData = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1])) || {};
	 inputData[event.target.name] = event.target.value;
	 localStorage.setItem('form_' + this.pathParts[this.pathParts.length - 1], JSON.stringify(inputData));
       },
     },

     mounted: function() {
       var self = this;
       var data = JSON.parse(localStorage.getItem('form_' + this.pathParts[this.pathParts.length - 1]));
       if (data !== 'null' && data !== null && data !== 'undefined') {
	 $.each(data, function(k, v) {
	   self[k] = v;
	 });
       }
     }
   });
  </script>
{% endblock %}
